{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>FunRento</title> <!--Name of site-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">   
    <link rel="icon" type="image/x-icon" href="static/Images/logo.png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"><!--Declaration of css files-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'CSS/index.css' %}"></link>
    <link rel="script" type="text/javascript" href="{% static 'js/index.js' %}"></link>
  </head>
  <body>
    <!--Navigation Bar starts-->
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#"><a><img id="logo" src="static/Images/logo.png" alt=""/></a><!--logo-->
        </div>
        <ul class="nav navbar-nav">
          <li>
            <select name="Locations" id="Locations">
              <option value="Mumbai">Mumbai</option>
              <option value="Delhi">Delhi</option>
              <option value="Banglore">Banglore</option>
            </select></li>            
          <li><a href="bedroom">BEDROOM</a></li> 
          <li><a href="living_room">LIVING ROOM</a></li>
          <li><a href="office">OFFICE FURNITURE</a></li>
          <li><a href="dining">DINNING ROOM</a></li>
          <li><a href="kids">KIDS ROOM</a></li>
          <li><form action="{% url 'log' %}" method="POST">
            {% csrf_token %}
            <button style="margin-top: 6px;background-color: white;color:#337ab7;border-radius: 30px;border-style:none;" type="submit"><img src="static/Images/user.png"/>{{u}}</button>
          </form></li>
          <!--<li style="margin-left:75px;margin-top: -10px;"><a href="login"/><img src="static/Images/user.png" <h4 id="uid">{{u}}</h4></li>-->
          <li><form action="{% url 'logout' %}" method="POST">
            {% csrf_token %}
            <button style="margin-top: 6px;background-color: white;color:#337ab7;border-radius: 30px;border-style:solid;" type="submit">Log Out</button>
          </form></li>
        </ul>
      </div>
    </nav>

{% for item in list %}
  <div style="font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">
    <p style="margin-left:150px;margin-top:50px;border-radius: 2px;pointer-events: none;"><img src="{{item.url}}"/>
    </p>
  </div>
  <div>
    <h1 style="margin-top:-230px;padding-top:-350px;padding-bottom:200px;margin-left: 550px;pointer-events: none;">Name of the Product :{{item.name}}</h1>
  </div>
  <div>
    <h2 style="margin-top:-180px;padding-top:-250px;padding-bottom:200px;margin-left: 550px;pointer-events: none;">Price :{{item.price}}/mo</h2>
  </div>
  <hr>
{% endfor %}

 
<form action="{% url 'cindex1' %}" method="POST">
  {% csrf_token %}
  <button style="margin-top: 40px;margin-left:670px;border-radius: 20px;background-color: #337ab7;border: none;padding-left: 20px;padding-right: 20px;padding-top: 5px;padding-bottom: 5px;font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;color: white;" type="submit">Checkout</button>
</form>

  
          
          <footer>
            <p>
              <br>
              <img style="margin-left: 665px;"src="static/Images/logo.png"/>
              <h3 style="margin-left:670px;color: white;">Follow us On</h3>
            </p>
            <a id = "icon1"  href="https://www.google.com/">
              <img alt="Qries" src="static/Images/icon (1).png"
              width=50" height="50"/></a>
            <a id = "icon2"href="https://www.google.com/">
                <img alt="Qries" src="static/Images/icon (2).png"
                width=50" height="50"/></a>
            <a id = "icon3"href="https://www.google.com/">
                  <img alt="Qries" src="static/Images/icon (3).png"
                  width=50" height="50"/></a>
            <a id = "icon4"href="https://www.google.com/">
                  <img alt="Qries" src="static/Images/icon (4).png"
                  width=50" height="50"></a>
                  <h2 style="margin-left:140px;margin-top:-150px;color: white;">Contact us</h2>
                  <h4 style="margin-left:140px;color: white;">Mail : abc123@gmail.com</h4>
                  <h4 style="margin-left:140px;color: white;">Contact us: 1234567890</h4>

                  <h2 style="margin-left:1100px;margin-top:-107px;color: white;">Address</h2>
                  <h4 style="margin-left:1100px;color: white;">Line 1 sample text</h4>
                  <h4 style="margin-left:1100px;color: white;">Line 2 sample text</h4>
                  <h4 style="margin-left:1100px;color: white;">Line 3 sample text</h4>


          </footer>
          
</html>
