
{% extends 'base.html' %}

{% block title %}My Custom Page{% endblock %}

{% block content %}


            {%for item in list%}
            <div class="cart_item">
                <div class="cart_img">
                    <a href="#"><img src={{item.url}} alt=""></a>
                </div>
                <div class="cart_info">
                    <a >{{item.name}}</a>
                    <p>{{item.quantity}} x <span> ${{item.price}} </span></p>
                </div>
                <div class="cart_remove">
                    <a href="#"><i class="icon-close icons"></i></a>
                </div>
            </div>
            {%endfor%}
           
            

 
<form action="{% url 'cindex1' %}" method="POST">
  {% csrf_token %}
  <button class="btn btn-link" type="submit">Checkout</button>
</form>

{%endblock %}