{% extends 'base.html' %}
{% load static %}

{% block title %}New User Registration{% endblock %}

{% block content %}
  <ul class="messages">
    {% for message in messages %}
    <div class="alert alert-danger" role="alert">
      {{message}}
    </div>
    {% endfor %}
  </ul>
  
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6 m-5">
      <img class="logo" src="{% static 'img/logo/logo.png' %}" alt="Logo">
      <hr>
      <h3 class="text-center">New User Registration</h3>
      <hr>
      <form class="registration-form" action="" method="POST">
        {% csrf_token %}
        <div class="form-group">
          <label for="username">Username:</label>
          <input class="form-control" type="text" name="username" id="username">
        </div>
        <div class="form-group">
          <label for="password">Password:</label>
          <input class="form-control" type="password" name="password" id="password">
        </div>
        <div class="form-group">
          <label for="fname">First Name:</label>
          <input class="form-control" type="text" name="fname" id="fname">
        </div>
        <div class="form-group">
          <label for="lname">Last Name:</label>
          <input class="form-control" type="text" name="lname" id="lname">
        </div>
        <div class="form-group">
          <label for="address">Address:</label>
          <input class="form-control" type="text" name="address" id="address">
        </div>
        <div class="form-group">
          <label for="phone">Phone No:</label>
          <input class="form-control" type="text" name="phone" id="phone">
        </div>
        <div class="form-group">
          <label for="email">Email:</label>
          <input class="form-control" type="text" name="email" id="email">
        </div>
        <div class="form-group">
          <label for="profile">Profile Picture:</label>
          <input class="form-control" type="file" name="profile" id="profile" accept=".jpg, .img, .jpeg, .png">
        </div>
        <br>
        <div class="form_input_btn">
          <button class="btn btn-link" type="submit">Sign Up</button>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}
