{% extends 'base.html' %}
{% load static %}


{% block title %}Login{% endblock %}

{% block content %}
<div class="container">
  <ul class="messages">
    {% for message in messages %}
    <div class="alert alert-danger" role="alert">
      {{message}}
    </div>
    {% endfor %}
  </ul>
  <div class="row justify-content-center">
    <div class="col-md-6 m-5">
      <div class="login_form wow fadeInUp" data-wow-delay="0.1s" data-wow-duration="1.1s">
        <img class="logo" src="{% static 'img/logo/logo.png' %}" alt="Logo">

        <form id="login-form" class="m-5" action="{% url 'login' %}" method="POST">
          {% csrf_token %}
            <div class="form_input">
              <label for="username">Username:</label>
              <input name="username" class="border-0" placeholder="Username" type="text">
            </div>
            <div class="form_input">
              <label for="password">Password:</label>
              <input name="password" class="border-0" placeholder="Password" type="password">
            </div>
   
          <div class="form_input_btn">
            <button class="btn btn-link" type="submit">Login</button>
          </div>
          <p class="form-message">
            <a href="newuser">New User? Sign up</a> |
            <a href="resetpassword">Forgot Password?</a>
          </p>
        </form>
      </div>
    </div>
  </div>
</div>


{% endblock %}
