
{% extends 'base.html' %}

{% block title %}My Custom Page{% endblock %}

{% block content %}
   <!-- slider section start -->
   <div class="breadcrumbs_area">
    <div class="container">   
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb_content text-center">
                    <h2>Livingroom Section</h2>
                </div>
            </div>
        </div>
    </div>         
</div>
{% if alert%}
<div class="alert alert-primary" role="alert">
    "{{alert}}"
  </div>
  {%endif %}



<!-- shop page section satrt -->
<div class="shop_page_section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="shop_page_inner d-flex ">
                    <div class="shop_sidebar_widget">
                        <div class="shop_widget_list categories">
                            <div class="shop_widget_title categories_title">
                                <h3>Categories</h3>
                            </div>
                            <div class="widget_categories">
                                <ul>
                                    <li><a href="#Workstations">Workstations (12)</a></li>
                                    <li><a href="#chairs">Chairs(2)</a></li>
                             
                                </ul>
                            </div>
                        </div>
                        <div class="shop_widget_list">
                            <div class="shop_widget_title">
                                <h3>by prices</h3>
                            </div>
                            <div class="widget_proce_filter">
                              <form  method="POST">
                                    <input type="text" id="amount" name="amount">
                                    <div id="slider-range"></div>
                                   
                                   
                                      <button type="submit" id="filter">Filter Price</button>
                                    </form>

                                </form> 
                            </div>
                        </div>
       

                        <div class="shop_widget_thumb">
                            <img src="assets/img/others/shop-sidebar.png" alt="">
                        </div>
                    </div>
                    <div class="shop_right_sidaber">
                        <div class="shop_top_bar d-flex justify-content-between">
                            <div class="shop_top_right d-flex">
                                <div class="product_sorting">
                                    <select>
                                        <option selected value="1">Default Sorting</option>
                                        <option value="1">Default Sorting2</option>
                                        <option value="1">Default Sorting3</option>
                                        <option value="1">Default Sorting3</option>
                                    </select>
                                </div>
                                <div class="shop_filter">
                                    <select>
                                        <option selected value="1">Filter</option>
                                        <option value="1">Filter2</option>
                                        <option value="1">Filter3</option>
                                        <option value="1">Filter4</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        
                        <div class="shop_gallery">
                          

                            <div id="Workstations" class="row">
                              <h1 class="p-5">Workstations</h1>
                              {% for item in items %}
                              {% if item.Product_Catagory == "Workstation" %}
                              <div class="col-lg-4 col-md-4 col-sm-6">
                                <article class="single_product">
                                    <figure>
                                        <div class="product_thumb">
                                            <a ><img src={{item.Product_Image}} alt=""></a>
                                            <div class="label_product">
                                                <span class="label_sale">Sale</span>
                                            </div>
                                        </div>
                                        <figcaption class="product_content">
                                            <h4><a >{{item.Product_Name}}</a></h4>
                                            <div class="price_box"> 
                                                <span class="old_price">{{item.Product_Dis_Price}} ₹</span>
                                            </div>
                                        </figcaption>  
                                        {% if item.Product_Quantity != "0" and item.Product_Quantity != 0%}
                                        <form action="{% url 'oaddToCart' %}" method="POST">
                                            {% csrf_token %}
                                        <div class="product_variant_quantity d-flex align-items-center">
                                            <div class="pro-qty border">
                                                <input min="1" max="100" type="tex" value="1" name="quantity">
                                            </div>
                                          
                                                <input type="hidden" name="name" value="{{item.Product_Name}}"/>
                                                <input type="hidden" name="price" value="{{item.Product_Dis_Price}}"/>
                                                <input type="hidden" name="img" value="{{item.Product_Image}}"/>
                                                <button class="btn btn-link" type="submit">add to cart</button>  
                                      
                                        </div>
                                    </form>
                                    {%else%}
                                        <h5 style="color: red;background-color: transparent;"  class="btn btn-link">Out of Stock</h5>
                                    {%endif%}
                                    </figure>
                                </article>
                            </div>
                            {% endif %}
                              {% endfor %}


                              
                            </div>
                        </div>

                        <div id="chairs" class="row">
                          <h1 class="p-5">Chairs</h1>
                          {% for item in items %}
                          {% if item.Product_Catagory == "Chairs" %}
                          <div class="col-lg-4 col-md-4 col-sm-6">
                            <article class="single_product">
                                <figure>
                                    <div class="product_thumb">
                                        <a ><img src={{item.Product_Image}} alt=""></a>
                                        <div class="label_product">
                                            <span class="label_sale">Sale</span>
                                        </div>
                                    </div>
                                    <figcaption class="product_content">
                                        <h4><a >{{item.Product_Name}}</a></h4>
                                        <div class="price_box"> 
                                            <span class="old_price">{{item.Product_Dis_Price}} ₹</span>
                                            <span class="current_price">{{item.Product_Price}} ₹</span>
                                            <span class="current_price">{{item.Product_Quantity}} ₹</span>
                                        </div>
                                    </figcaption>  
                                    {%  if item.Product_Quantity != "0" and item.Product_Quantity != 0%}
                                    <form action="{% url 'oaddToCart' %}" method="POST">
                                        {% csrf_token %}
                                    <div class="product_variant_quantity d-flex align-items-center">
                                        <div class="pro-qty border">
                                            <input min="1" max="100" type="tex" value="1" name="quantity">
                                        </div>
                                      
                                            <input type="hidden" name="name" value="{{item.Product_Name}}"/>
                                            <input type="hidden" name="price" value="{{item.Product_Dis_Price}}"/>
                                            <input type="hidden" name="img" value="{{item.Product_Image}}"/>
                                            <button class="btn btn-link" type="submit">add to cart</button>  
                                  
                                    </div>
                                </form>
                                {%else%}
                                <h5 style="color: red;background-color: transparent;"  class="btn btn-link">Out of Stock</h5>
                                {%endif%}
                                     
                                </figure>
                            </article>
                        </div>
                        {% endif %}
                          {% endfor %}


                          
                        </div>

                  
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- shop page section end -->

<!-- blog section end -->
{% endblock %}
 

   


    


  