{% extends 'base.html' %}
{% load static%}
{% block title %}My Custom Page{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 text-center" style="margin: 20vw;">
            <img src="{% static 'img/logo/logo.png' %}" alt="Logo" class="img-fluid">
            <h4>Thanks for your order.</h4>
            <h4>Your order has been placed successfully.</h4>
            <h4><a href="http://127.0.0.1:8000/">Click here to get redirected to the home page</a></h4>
        </div>
    </div>
</div>
{% endblock %}
