{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>FunRento</title> <!--Name of site-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">   
    <link rel="icon" type="image/x-icon" href="static/Images/logo.png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"><!--Declaration of css files-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'CSS/index.css' %}"></link>
    <link rel="script" type="text/javascript" href="{% static 'js/index.js' %}"></link>
  </head>
  <script>
    function myFunction() {
    var x = document.getElementById("myInput");
    if (x.type === "password") {
      x.type = "text";
    } 
    else {
      x.type = "password";
    }
}
  </script>
  <style>
    table, th, td {
      border:1px solid black;
      margin-left: 50px;
      padding: 8px;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    th{
    background-color: #337ab7;
    color: #ffffff;
    text-align: left;
    
}
 td,th {
    padding: 12px 15px;
}
input[type=text] {
  border: 3px solid black;
  padding: 5px;
}
input[type=password] {
  border: 3px solid black;
  padding: 5px;
}
textarea {
  border: 3px solid black;
  padding: 5px;
}

    </style>
  <body> <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" style="margin-top: -18px;margin-left: 9px;"href="http://127.0.0.1:8000/"><img id="logo" src="static/Images/logo.png" alt=""/></a><!--logo-->
      </div>
      <ul class="nav navbar-nav">
        <li>
          <select name="Locations" id="Locations"> 
            <option value="Mumbai">Mumbai</option>
            <option value="Delhi">Delhi</option>
            <option value="Banglore">Banglore</option>
          </select></li>            
        <li><a href="bedroom">BEDROOM</a></li> 
        <li><a href="living_room">LIVING ROOM</a></li>
        <li><a href="office">OFFICE FURNITURE</a></li>
        <li><a href="dining">DINNING ROOM</a></li>
        <li><a href="kids">KIDS ROOM</a></li>
        <li><form action="{% url 'log' %}" method="POST">
          {% csrf_token %}
          <button style="margin-top: 6px;background-color: white;color:#337ab7;border-radius: 30px;border-style:none;" type="submit"><img src="static/Images/user.png"/>{{u}}</button>
        </form></li>
        <!--<li style="margin-left:75px;margin-top: -10px;"><a href="login"/><img src="static/Images/user.png" <h4 id="uid">{{u}}</h4></li>-->
        <li><form action="{% url 'logout' %}" method="POST">
          {% csrf_token %}
          <button style="margin-top: 6px;background-color: white;color:#337ab7;border-radius: 30px;border-style:solid;" type="submit">Log Out</button>
        </form></li>
      </ul>
    </div>
  </nav>
  <!--Navigation Bar Ends-->
  <hr>
  <h2 style="margin-left:640px;text-align:justify;color: #337ab7;">Hello {{u}}</h2>
  <h2 style="margin-left:640px;text-align:justify;">{{g}}</h2><br>


  <ul style="margin-left: -330px;"class="nav nav-pills">
    <li class="active"><a data-toggle="pill" href="#menu11">User Info</a></li>
    <li><a data-toggle="pill" href="#menu21">Your Orders</a></li>
    <li><a data-toggle="pill" href="#menu31">Your Invoices</a></li>
    <li><a data-toggle="pill" href="#menu41">Track Your Order</a></li>
    <li><a data-toggle="pill" href="#menu51">Cancel Your order</a></li>
  </ul>
  <hr>
  
  <div class="tab-content">
    <div id="menu11" class="tab-pane fade in active">
      <form style="margin-left: 580px;padding:10px"action="{% url 'update' %}" method="POST">
        {% csrf_token %}
        {% for items in ad %}
        <img style="margin-left:-300px;width: 200px;height: 200px;border-radius: 200px;border: 3px solid;"src="{{items.Image.url}}"><br>
        <div style="margin-top: -200px;">
        <b>Username:</b> <input style="margin-top: -20px;margin-left: 30px;width: 300px" value="{{items.username}}" type="text" name="username"/><br/>
        <b> Password:</b><input style="margin-top: 20px;margin-left: 38px;width: 300px" value="{{items.Password}}" type="password" name="Password" id="myInput"/><input type="checkbox" style="margin-left: 40px;" onclick="myFunction()"><b>Show Password</b><br>
        <b>First Name:</b><input style="margin-top: 20px;margin-left: 32px;width: 300px" value="{{items.Fname}}" type="text" name="Fname"/><br/>
        <b>Last Name:</b><input style="margin-top: 20px;margin-left: 32px;width: 300px" value="{{items.Lname}}" type="text" name="Lname"/><br/>
        <b>Address:</b><textarea title="Address" rows="4" cols="37" style="margin-top: 20px;margin-left: 50px;" name="Address">{{items.Address}}</textarea>/><br/>
        <b>Phone No:</b><input style="margin-top: 20px;margin-left: 40px;width: 300px;" value="{{items.Phone_No}}" type="text" name="Phone_No"/><br/>
        <b>Email:</b><input style="margin-top: 20px;margin-left: 67px;width: 300px;" value="{{items.Email}}" type="text" name="Email"/><br/>  
        {%endfor%}
        </div>
        <input style="margin-top: 40px;margin-left: 180px;border-radius: 20px;background-color: #337ab7;color: whitesmoke;border: none;padding-left: 20px;padding-right: 20px;padding-top: 5px;padding-bottom: 5px;" type="submit" value="Update"/>
      </form>
    </div>

    <div id="menu21" class="tab-pane fade">
      <p id="show">
        <table style="margin-left: 240px;font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;font-size: 15px;">
          <tr>
            <th>Product Image</th>
            <th>Product Name</th>
            <th>Price</th>
            <th>Refrence ID</th>
            <th>Status</th>
            <th>Date of return</th>
          </tr>
          <tr>
            {% for items in od %}
            <td><img src="{{items.img}}"/></td>
            <td>{{items.productname}}</td>
            <td>{{items.price}}</td>
            <td>{{items.id}}</td>
            <td>{{items.status}}</td>
            <td>{{items.dateofreturn}}</td>
          </tr>
          {%endfor%}
        </table>
    </div>

  <hr>
  
  <div id="menu31" class="tab-pane fade">
    <p id="show">
     <table style="width: 1000px;margin-left: 300px;height: 500px;margin-top: -100px;">
      <tr>
        {% for items in inv %}
        <td><h4 style="margin-top: 40px;">{{items.url}}</h4><iframe src="{{items.url}}" style="width: 100%;height: 100%;border: none;"></iframe></td><br><br>
        {%endfor%}
       </tr>
     </table>
  </div>
  <div id="menu41" class="tab-pane fade">
    <p id="show">
     <table style="width: 1000px;margin-left: 300px;height: 600px;">
      <form style="margin-left: 580px;padding:10px"action="{% url 'track' %}" method="POST">
        {% csrf_token %}
        <h2 style="margin-left: 540px;color: #337ab7;">Tracking ID:  <input style="width: 300px;padding-left: 30px;font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;" type="text" name="ID"/></h2><br/>
        <input style="margin-top: 10px;margin-left: 810px;border-radius: 20px;background-color: #337ab7;color: whitesmoke;border: none;padding-left: 20px;padding-right: 20px;padding-top: 5px;padding-bottom: 5px;" type="submit" value="Track"/>
       <div style="margin-top:100px;margin-left:280px;width: 1000px;height: 440px;background-color:whitesmoke;box-shadow: #337ab7;color: whitesmoke;
       background-color: white;
       color: #000;
       text-decoration: solid;
       box-shadow: -2px -2px 30px black;
       box-shadow: 2px 2px 30px #000000;
       padding-left: 20px;
       padding-right: 20px;
       padding-top: 20px;
       padding-bottom: 20px;
       font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
       font-weight: 600;
       font-size: 60px; ">
       <h3>Order Details</h3>
       {% for items in pro %}
       <h4>Order ID :{{items.id}}</h4>
       <h4>Product Name :{{items.productname}}</h4>
       <h4>Date of Order :{{items.dateoforder}}</h4>
       <h4>Date of Delivery :{{items.dateofdelivery}}</h4>
       <h4>Delivery From : {{items.placeofsender}}</h4>
       <h4>Delivery To :{{items.placeofreceiver}}</h4>
       <label style="font-size: 20px;margin-top: -100px;" for="progress">Progress of your Order:</label><br>
       <progress id="progress" value="{{items.progress}}" max="100"> </progress>
       {%endfor%}

       </div>
        <div  style="margin-top:80px;margin-left:280px;width: 1000px;height: 240px;background-color:whitesmoke;box-shadow: #337ab7;color: whitesmoke;
        color: #000000;
        background-color: white;
        text-decoration: solid;
        box-shadow: -2px -2px 30px black;
        box-shadow: 2px 2px 30px #000000;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 600;
        font-size: 15px; ">
          <h2>Event Tracker</h2>
          {% for items in sta%}
           <li>{{items}}<br></li>
           {%endfor%}
        </div>
      </form>
     </table>
     <div style="margin-top:-480px;margin-left:280px;width: 1000px;height: 500px;background-color:whitesmoke;box-shadow: #337ab7;color: whitesmoke;
        color: #000000;
        background-color: white;
        text-decoration: solid;
        margin-bottom: -150px;
        box-shadow: -2px -2px 30px black;
        box-shadow: 2px 2px 30px #000000;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 600;
        font-size: 15px; ">
     <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d15081.39506512266!2d73.07593304999999!3d19.09234975!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1647702372338!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
      <div style="white-space: nowrap; text-align: center; width: 1000px; padding: 6px 0;">
         <p style="font-size:20px;width: 200px;margin-top: -340px;margin-left: 650px;color: #337ab7;">If you want to know the </p>
         <p style="font-size:20px;width: 200px;margin-left: 650px;color: #337ab7;">total distance for the order,</p>
         <p style="font-size:20px;width: 200px;margin-left: 650px;color: #337ab7;">you can use this map facility</p>
        </div>
 </div>
  </div>

  <div id="menu51" class="tab-pane fade">
    <p id="show">
      <form style="margin-left: 0px;padding:10px"action="{% url 'cancel' %}" method="POST">
        {% csrf_token %}
        <h2 style="margin-left: 540px;color: #337ab7;">Order ID:  <input style="width: 300px;padding-left: 30px;font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;" type="text" name="ID"/></h2><br/>
        <input style="margin-top: 10px;margin-left: 750px;border-radius: 20px;background-color: #337ab7;color: whitesmoke;border: none;padding-left: 20px;padding-right: 20px;padding-top: 5px;padding-bottom: 5px;" type="submit" value="Cancel Your Order"/>
        {% if messages %}
        <ul style="margin-left: 740px;padding: 0px;" class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {%endfor%}
        </ul>
        {% endif %}
  </div>
  

  
</div>
<hr>

          <footer>
            <p>
              <br>
              <img style="margin-left: 665px;"src="static/Images/logo.png"/>
              <h3 style="margin-left:670px;color: white;">Follow us On</h3>
            </p>
            <a id = "icon1"  href="https://www.google.com/">
              <img alt="Qries" src="static/Images/icon (1).png"
              width=50" height="50"/></a>
            <a id = "icon2"href="https://www.google.com/">
                <img alt="Qries" src="static/Images/icon (2).png"
                width=50" height="50"/></a>
            <a id = "icon3"href="https://www.google.com/">
                  <img alt="Qries" src="static/Images/icon (3).png"
                  width=50" height="50"/></a>
            <a id = "icon4"href="https://www.google.com/">
                  <img alt="Qries" src="static/Images/icon (4).png"
                  width=50" height="50"></a>
                  <h2 style="margin-left:140px;margin-top:-150px;color: white;">Contact us</h2>
                  <h4 style="margin-left:140px;color: white;">Mail : abc123@gmail.com</h4>
                  <h4 style="margin-left:140px;color: white;">Contact us: 1234567890</h4>

                  <h2 style="margin-left:1100px;margin-top:-107px;color: white;">Address</h2>
                  <h4 style="margin-left:1100px;color: white;">Line 1 sample text</h4>
                  <h4 style="margin-left:1100px;color: white;">Line 2 sample text</h4>
                  <h4 style="margin-left:1100px;color: white;">Line 3 sample text</h4>


          </footer>
          
</html>
